<div class="row">
  <div class="large-7 small-12 columns large-centered">
    <div class="radius panel" style="margin-top:50px;">
      <h1 style="text-align:center;"><%= SITE_TITLE %></h1>
      <h4 class="subheader" ><%= raw SITE_BLURB %></h4>

      <p style="text-align:center;"><em>Enter your email to sign up for our mailing list:</em></p>

      <div class="row collapse">
        <%= form_tag '/interested' do %>
          <div class="large-9 small-10 columns"><%= email_field_tag 'email', nil, placeholder: 'Email address' %></div>
          <div class="large-3 small-2 columns"><%= submit_tag 'Yes!', class: 'postfix radius button' %></div>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
      </div>

      <h6 class="subheader" style="text-align:center;">
        (We're sort of on <a href="http://twitter.com/<%= TWITTER_NAME %>" target="_blank">Twitter</a>.)
      </h6>
    </div>
  </div>
</div>

<% unless alert.blank? %>
  <div class="row">
    <div class="large-5 small-12 columns large-centered">
      <div data-alert class="alert-box radius"><%= alert %></div>
    </div>
  </div>
<% end %>
