<div class="row">
  <div class="large-8 small-12 columns large-centered">
    <div class="panel radius" style="margin-top:50px;">
      <h1 style="text-align:center;"><%= SITE_TITLE %></h1>
      <h4 class="subheader" ><%= raw SITE_BLURB %></h4>

      <div class="row collapse">
        <div class="small-12 columns">
          <h3 style="text-align:center;">You've referred <strong><%= @rcount %></strong> people.</h3>

          <h6>
            The more friends you invite, the sooner you'll get access!<br>Share your personalized link or use the buttons below:
          </h6>

          <p><input type="text" readonly onClick="select()" value="http://<%= SITE_DOMAIN %>/?ref=<%= @rcode %>"></p>

          <p style="text-align:center;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="http://<%= "#{SITE_DOMAIN}/?ref=#{@rcode}" %>" data-text="I'm in line for @<%= TWITTER_NAME %> <%= SITE_DESCRIPTION %>" data-via="<%= TWITTER_NAME %>" data-size="small" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            &nbsp;
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= "#{SITE_DOMAIN}%2F?ref=#{@rcode}" %>&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=62&amp;appId=156645257810711" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:62px;" allowTransparency="true"></iframe>
          </p>
        </div>
      </div>

      <h6 class="subheader" style="text-align:center;">
        (We're sort of on <a href="http://twitter.com/<%= TWITTER_NAME %>" target="_blank">Twitter</a>.)
      </h6>
    </div>
  </div>
</div>
