<!DOCTYPE html>
<html>
<head>
  <title><%= @sitetitle %></title>
  <meta name="keywords" content="<%= @sitekeywords %>"/>
  <meta name="description" content="<%= @sitedescription %>"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= @sitegoogleanalytics %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  -->
</head>
<body>

<%= yield %>

</body>
</html>
